# https://docs.docker.com/engine/reference/builder/#dockerignore-file

*

# The following files/folders are copied to the docker image

!dash_spa/*
!demo/*
!holoniq/*
!user/*

!app.py
!index.py
!main.py
!requirements.txt
!server.py
!settings.py
!usage.py
!uwsgi.ini
