# The following files/folders are copied to the docker image

#app.py
#dash_spa
#demo
#holoniq
#index.py
#main.py
#requirements.txt
#server.py
#settings.py
#usage.py
#user
#uwsgi.ini

# These files/folders are not needed

__pycache__
.devcontainer
.dockerignore
.git
.gitignore
.pylintrc
.pytest_cache
.vscode
assets
build
dash_spa.egg-info
db.sqlite
dist
Dockerfile
docs
examples
landing-page.md
LICENSE
MANIFEST.in
pytest.ini
README.md
setup.py
tests
tmp
waitress_server.py
wsgi.py