-r requires-install.txt
-r requires-diskcache.txt
-r requires-redis.txt
-r requires-admin.txt
-r requires-dev.txt

# For ticker demo

colorlover>=0.3.0
pandas>=1.4.2

# Waitress server

waitress>=2.1.1
Paste>=3.5.0
