.list{
  background-color: #ccffcc;
}
.list:hover{
  background-color: #66ff66;
}
.list-content{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.bg-complete{
  background-color: #5df5a9;
}