@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
.datepicker {
  display: none;
}
.datepicker.active {
  display: block;
}

.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 4px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

.ct-bar {
  fill: none;
  stroke-width: 10px;
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar {
  stroke: #262B40;
}
 .ct-series-a .ct-area {
  fill: #262B40;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar {
  stroke: #F8BD7A;
}
 .ct-series-b .ct-area {
  fill: #F8BD7A;
}

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar {
  stroke: #F8BD7A;
}
 .ct-series-g .ct-area {
  fill: #F8BD7A;
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.804697157%;
}
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

:root {
  --bs-primary-rgb: 31, 41, 55;
  --bs-secondary-rgb: 240, 188, 116;
  --bs-success-rgb: 16, 185, 129;
  --bs-warning-rgb: 243, 199, 142;
  --bs-danger-rgb: 225, 29, 72;
  --bs-yellow-100-rgb: 255, 238, 214;
  --bs-gray-300-rgb: 209, 213, 219;
  --bs-gray-400-rgb: 156, 163, 175;
  --bs-gray-500-rgb: 107, 114, 128;
  --bs-gray-600-rgb: 75, 85, 99;
  --bs-gray-800-rgb: 31, 41, 55;
  --bs-gray-900-rgb: 17, 24, 39;
  --bs-font-sans-serif: "Inter", sans-serif;
  --bs-body-color: #374151;
  --bs-body-bg: #F2F4F6;
}

body {
  -webkit-tap-highlight-color: rgba(17, 24, 39, 0);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  line-height: 1.3;
  color: #1F2937;
}

b {
  font-weight: 600;
}

a {
  color: #1F2937;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

code {
  font-size: 1em;
  direction: ltr ;
}

code {
  color: #EF4683;
}

[role=button] {
  cursor: pointer;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

.container,
.container-fluid {
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
}
.table {
  --bs-table-striped-color: #374151;
  --bs-table-striped-bg: rgba(17, 24, 39, 0.05);
  --bs-table-hover-color: #374151;
  --bs-table-hover-bg: rgba(17, 24, 39, 0.075);
  color: #374151;
  border-color: #E5E7EB;
}
.table > :not(caption) > * > * {
  padding: 0.75rem 0.5rem;
  border-bottom-width: 0.0625rem;
}
.table > :not(:first-child) {
  border-top: 0.125rem solid currentColor;
}

.form-control {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #6B7280;
  background-color: #ffffff;
  border: 0.0625rem solid #D1D5DB;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #6B7280;
  background-color: #ffffff;
  border-color: #4d6689;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}
.form-control::placeholder {
  color: #4B5563;
}
.form-control:disabled {
  background-color: #E5E7EB;
}
.form-control::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  margin-inline-end: 1rem;
  color: #6B7280;
  background-color: #ffffff;
  border-inline-end-width: 0.0625rem;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #f2f2f2;
}
.form-control::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  margin-inline-end: 1rem;
  color: #6B7280;
  background-color: #ffffff;
  border-inline-end-width: 0.0625rem;
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #f2f2f2;
}

.form-select {
  padding: 0.5rem 1rem 0.5rem 1rem;
  -moz-padding-start: calc(1rem - 3px);
  font-size: 0.875rem;
  color: #6B7280;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231F2937' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 1rem center;
  border: 0.0625rem solid #D1D5DB;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 2px rgba(17, 24, 39, 0.0125);
}
.form-select:focus {
  border-color: #4d6689;
  box-shadow: inset 0 1px 2px rgba(17, 24, 39, 0.0125), 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}
 .form-select[size]:not([size="1"]) {
  padding-right: 1rem;
}
.form-select:disabled {
  color: #4B5563;
  background-color: #E5E7EB;
}
.form-select:-moz-focusring {
  text-shadow: 0 0 0 #6B7280;
}

.form-check {
  padding-left: 1.625em;
}
.form-check .form-check-input {
  margin-left: -1.625em;
}

.form-check-input {
  width: 1.125em;
  height: 1.125em;
  margin-top: 0.1875em;
  background-color: #F2F4F6;
  border: 1px solid #D1D5DB;
  transition: background-color 0.2s ease-in-out, background-position 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-check-input {
    transition: none;
  }
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input:focus {
  border-color: #4d6689;
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}
.form-check-input:checked {
  background-color: #1F2937;
  border-color: #1F2937;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #1F2937;
  border-color: #1F2937;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.form-switch {
  padding-left: 2.75em;
}
.form-switch .form-check-input {
  width: 2.25em;
  margin-left: -2.75em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234B5563'/%3e%3c/svg%3e");
  border-radius: 2.25em;
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234d6689'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.input-group-text {
  padding: 0.5rem 0.625rem;
  font-size: 0.875rem;
  color: #6B7280;
  background-color: #ffffff;
  border: 0.0625rem solid #D1D5DB;
  border-radius: 0.5rem;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n/**/+3) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -0.0625rem;
}

.btn {
  font-weight: 500;
  color: #374151;
  border: 0.0625rem solid transparent;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}
.btn:hover {
  color: #374151;
}
 .btn:focus {
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}
 .btn:active, .btn.active {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125);
}
 .btn:active:focus, .btn.active:focus {
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25), inset 0 3px 5px rgba(17, 24, 39, 0.125);
}
.btn:disabled, .btn.disabled {
  box-shadow: none;
}

.btn-primary {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075);
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #1a232f;
  border-color: #19212c;
}
 .btn-primary:focus {
  color: #ffffff;
  background-color: #1a232f;
  border-color: #19212c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075), 0 0 0 0.18rem rgba(65, 73, 85, 0.5);
}
 .btn-primary:active, .btn-primary.active {
  color: #ffffff;
  background-color: #19212c;
  border-color: #171f29;
}
 .btn-primary:active:focus, .btn-primary.active:focus {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125), 0 0 0 0.18rem rgba(65, 73, 85, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
}

.btn-secondary {
  color: #1F2937;
  background-color: #f0bc74;
  border-color: #f0bc74;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075);
}
.btn-secondary:hover {
  color: #1F2937;
  background-color: #f2c689;
  border-color: #f2c382;
}
 .btn-secondary:focus {
  color: #1F2937;
  background-color: #f2c689;
  border-color: #f2c382;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075), 0 0 0 0.18rem rgba(209, 166, 107, 0.5);
}
 .btn-secondary:active, .btn-secondary.active {
  color: #1F2937;
  background-color: #f3c990;
  border-color: #f2c382;
}
 .btn-secondary:active:focus, .btn-secondary.active:focus {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125), 0 0 0 0.18rem rgba(209, 166, 107, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #1F2937;
  background-color: #f0bc74;
  border-color: #f0bc74;
}

.btn-gray-800 {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075);
}
.btn-gray-800:hover {
  color: #ffffff;
  background-color: #1a232f;
  border-color: #19212c;
}
 .btn-gray-800:focus {
  color: #ffffff;
  background-color: #1a232f;
  border-color: #19212c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 24, 39, 0.075), 0 0 0 0.18rem rgba(65, 73, 85, 0.5);
}
 .btn-gray-800:active, .btn-gray-800.active {
  color: #ffffff;
  background-color: #19212c;
  border-color: #171f29;
}
 .btn-gray-800:active:focus, .btn-gray-800.active:focus {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125), 0 0 0 0.18rem rgba(65, 73, 85, 0.5);
}
.btn-gray-800:disabled, .btn-gray-800.disabled {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
}

.btn-outline-gray-500 {
  color: #6B7280;
  border-color: #6B7280;
}
.btn-outline-gray-500:hover {
  color: #ffffff;
  background-color: #6B7280;
  border-color: #6B7280;
}
 .btn-outline-gray-500:focus {
  box-shadow: 0 0 0 0.18rem rgba(107, 114, 128, 0.5);
}
 .btn-outline-gray-500:active, .btn-outline-gray-500.active {
  color: #ffffff;
  background-color: #6B7280;
  border-color: #6B7280;
}
 .btn-outline-gray-500:active:focus, .btn-outline-gray-500.active:focus {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125), 0 0 0 0.18rem rgba(107, 114, 128, 0.5);
}
.btn-outline-gray-500:disabled, .btn-outline-gray-500.disabled {
  color: #6B7280;
  background-color: transparent;
}

.btn-outline-gray-600 {
  color: #4B5563;
  border-color: #4B5563;
}
.btn-outline-gray-600:hover {
  color: #ffffff;
  background-color: #4B5563;
  border-color: #4B5563;
}
 .btn-outline-gray-600:focus {
  box-shadow: 0 0 0 0.18rem rgba(75, 85, 99, 0.5);
}
 .btn-outline-gray-600:active, .btn-outline-gray-600.active {
  color: #ffffff;
  background-color: #4B5563;
  border-color: #4B5563;
}
 .btn-outline-gray-600:active:focus, .btn-outline-gray-600.active:focus {
  box-shadow: inset 0 3px 5px rgba(17, 24, 39, 0.125), 0 0 0 0.18rem rgba(75, 85, 99, 0.5);
}
.btn-outline-gray-600:disabled, .btn-outline-gray-600.disabled {
  color: #4B5563;
  background-color: transparent;
}

.btn-link {
  color: #1F2937;
  text-decoration: none;
}
.btn-link:hover {
  color: black;
  text-decoration: none;
}
.btn-link:focus {
  text-decoration: none;
}
.btn-link:disabled, .btn-link.disabled {
  color: #4B5563;
}

.btn-sm {
  padding: 0.375rem 0.625rem;
  border-radius: 0.5rem;
}

.dropdown-menu {
  min-width: 12rem;
  font-size: 0.875rem;
  color: #374151;
  background-color: #ffffff;
  border: 0.0625rem solid #E5E7EB;
  border-radius: 0.35rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dropdown-divider {
  border-top: 1px solid #E5E7EB;
}

.dropdown-item {
  color: #111827;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #090d15;
  background-color: #F2F4F6;
}
.dropdown-item.active, .dropdown-item:active {
  color: #111827;
  background-color: #E5E7EB;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #4B5563;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  margin-left: -0.0625rem;
}
.btn-group > .btn:nth-child(n/**/+3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.btn-sm + .dropdown-toggle-split {
  padding-right: 0.46875rem;
  padding-left: 0.46875rem;
}

.nav-link {
  color: #1F2937;
}
.nav-link:hover, .nav-link:focus {
  color: #1F2937;
}
.nav-link.disabled {
  color: #4B5563;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-toggler {
  padding: 0.4rem 0.6rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.18rem;
}

.navbar-dark .navbar-brand {
  color: #ffffff;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #ffffff;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.card {
  background-color: #ffffff;
  border: 0.0625rem solid rgba(17, 24, 39, 0.125);
  border-radius: 0.5rem;
}
.card > .list-group:first-child {
  border-top-left-radius: 0.4375rem;
  border-top-right-radius: 0.4375rem;
}
.card > .list-group:last-child {
  border-bottom-right-radius: 0.4375rem;
  border-bottom-left-radius: 0.4375rem;
}

.card-body {
  padding: 1.25rem 1.5rem;
}

.card-header {
  padding: 1.25rem 1.5rem;
  background-color: rgba(17, 24, 39, 0.03);
  border-bottom: 0.0625rem solid rgba(17, 24, 39, 0.125);
}
.card-header:first-child {
  border-radius: 0.4375rem 0.4375rem 0 0;
}

.card-footer {
  padding: 1.25rem 1.5rem;
  background-color: rgba(17, 24, 39, 0.03);
  border-top: 0.0625rem solid rgba(17, 24, 39, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 0.4375rem 0.4375rem;
}

.breadcrumb {
  padding: 0.5rem 1rem;
  background-color: #E5E7EB;
  border-radius: 0.5rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #4B5563;
  content: var(--bs-breadcrumb-divider, "/") ;
}
.breadcrumb-item.active {
  color: #4B5563;
}

.page-link {
  color: #1F2937;
  background-color: #ffffff;
  border: 0.0625rem solid #9CA3AF;
}
.page-link:hover {
  color: black;
  background-color: #E5E7EB;
  border-color: #D1D5DB;
}
.page-link:focus {
  color: black;
  background-color: #E5E7EB;
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}

.page-item:not(:first-child) .page-link {
  margin-left: -0.0625rem;
}
.page-item.active .page-link {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
}
.page-item.disabled .page-link {
  color: #4B5563;
  background-color: #ffffff;
  border-color: #D1D5DB;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.badge {
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0.5rem;
}
.progress {
  background-color: #E5E7EB;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 2px rgba(17, 24, 39, 0.0125);
}

.progress-bar {
  color: #ffffff;
  background-color: #1F2937;
}

.list-group {
  border-radius: 0.5rem;
}

.list-group-item {
  color: #111827;
  background-color: #ffffff;
  border: 0.0625rem solid rgba(17, 24, 39, 0.125);
}
.list-group-item.disabled, .list-group-item:disabled {
  color: #4B5563;
  background-color: #ffffff;
}
.list-group-item.active {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
}
.list-group-item + .list-group-item.active {
  margin-top: -0.0625rem;
  border-top-width: 0.0625rem;
}
.list-group-flush > .list-group-item {
  border-width: 0 0 0.0625rem;
}

.btn-close {
  color: #111827;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111827'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border-radius: 0.5rem;
}
.btn-close:hover {
  color: #111827;
}
.btn-close:focus {
  box-shadow: 0 0 0 0.18rem rgba(31, 41, 55, 0.25);
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.border-bottom {
  border-bottom: 0.0625rem solid #E5E7EB !important;
}

.border-gray-200 {
  border-color: #E5E7EB !important;
}

.fmxw-400 {
  max-width: 400px !important;
}

.fmxw-500 {
  max-width: 500px !important;
}

.mt-n7 {
  margin-top: -8rem !important;
}

.fw-bold {
  font-weight: 500 !important;
}

.fw-bolder {
  font-weight: 600 !important;
}

.fw-extrabold {
  font-weight: 700 !important;
}

.text-gray-300 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-300-rgb), var(--bs-text-opacity)) !important;
}

.text-gray-400 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-400-rgb), var(--bs-text-opacity)) !important;
}

.text-gray-500 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-500-rgb), var(--bs-text-opacity)) !important;
}

.text-gray-600 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-600-rgb), var(--bs-text-opacity)) !important;
}

.text-gray-800 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-800-rgb), var(--bs-text-opacity)) !important;
}

.text-gray-900 {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-900-rgb), var(--bs-text-opacity)) !important;
}

.bg-yellow-100 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-yellow-100-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-800 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-gray-800-rgb), var(--bs-bg-opacity)) !important;
}

.rounded {
  border-radius: 0.5rem !important;
}

.rounded-top {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.rounded-end {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-start {
  border-bottom-left-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}
@media (min-width: 992px) {

  .vh-lg-100 {
    height: 100vh !important;
  }
}

.navbar-brand {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-brand img {
  height: 40px;
}

.navbar-dark .navbar-brand-light {
  display: none;
}
.navbar-dark .navbar-brand {
  color: #ffffff;
}
.navbar-dark > .nav-item:hover > .nav-link {
  color: #1F2937;
}

.dropdown-menu {
  top: 100%;
}
.dropdown-menu span {
  width: 30px;
}
.navbar-dashboard {
  border-radius: 0.5rem;
}

.navbar-theme-primary:not(.headroom) {
  background-color: #1F2937;
}

.section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 576px) {
  .section {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 992px) {
  .section {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.footer ul li {
  display: inline-block;
}
.footer ul li a {
  text-decoration: none;
  position: relative;
  display: block;
  color: #374151;
}
.footer ul li a:hover {
  color: #1F2937;
}
.footer ul li .btn {
  margin: 0;
}
.footer .copyright {
  font-size: 0.875rem;
}

.sidebar {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  transition: max-width 0.1s;
}
@media (prefers-reduced-motion: reduce) {
  .sidebar {
    transition: none;
  }
}
@media (min-width: 768px) {
  .sidebar {
    width: 100%;
    max-width: 260px;
  }
}
.sidebar .nav {
  white-space: nowrap;
}
.sidebar .nav-item {
  margin-bottom: 0.2rem;
}
.sidebar .nav-item.active > .nav-link {
  color: #F2F4F6;
  background-color: #374151;
}
.sidebar .nav-item .nav-link {
  color: #ffffff;
  cursor: pointer;
}
.sidebar .nav-item .nav-link:hover {
  color: #F2F4F6;
  background-color: #374151;
}
.sidebar .nav-link + .multi-level {
  margin-top: 0.2rem;
}
.sidebar .nav-link {
  font-size: 1rem;
  vertical-align: middle;
  padding: 0.55rem 0.75rem;
  border-radius: 0.5rem;
}
.sidebar .nav-link .sidebar-icon {
  margin-right: 0.5rem;
  color: #9CA3AF;
}
.sidebar .nav-link .link-arrow {
  font-size: 0.875rem;
}
.sidebar .nav-link[data-bs-toggle=collapse][aria-expanded=true] .link-arrow {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.2s ease;
}
.sidebar .nav-link.active {
  color: #F2F4F6;
}
.sidebar .multi-level .nav-link {
  padding-left: 53px;
}
.sidebar .sidebar-text,
.sidebar .link-arrow,
.sidebar .badge {
  opacity: 1;
}

.sidebar-inner {
  position: relative;
  overflow-y: hidden;
}

.user-card {
  border-bottom: 0.0625rem solid #2e3650;
}

@media (max-width: 575.98px) {
  .sidebar {
    width: 100%;
  }
}
.content {
  overflow: hidden;
  padding: 0 1rem 0 1rem;
  transition: all 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .content {
    transition: none;
  }
}
@media (min-width: 992px) {
  .content {
    margin-left: 260px;
  }
}

main {
  display: block;
  margin: 0;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
}

button:focus {
  outline: 0;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.animate-up-2 {
  transition: all 0.2s ease;
}

.animate-up-2:hover {
  -moz-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

[class*=shadow] {
  transition: all 0.2s ease;
}

.avatar {
  width: 2rem;
  height: 2rem;
}
.avatar img {
  width: 2rem;
  height: 2rem;
}

.avatar-lg {
  width: 4.5rem;
  height: 4.5rem;
}
.avatar-lg img {
  width: 4.5rem;
  height: 4.5rem;
}

.avatar-xl {
  width: 8rem;
  height: 8rem;
}
@media (max-width: 991.98px) {
  .avatar-xl {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.badge {
  font-weight: 600;
}
.badge a {
  color: #ffffff;
}

.badge-sm {
  padding: 0.2rem 0.6rem;
}

.btn-icon-only {
  width: 2.575rem;
  height: 2.575rem;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.btn-icon-only.btn-sm {
  width: 2rem;
  height: 2rem;
}

.btn-upgrade-pro {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 190px;
}
@media (min-width: 768px) {
  .btn-upgrade-pro {
    left: 35px;
  }
}

.btn-primary:hover {
  background-color: #161d27;
  border-color: #161d27;
}

.btn-secondary:hover {
  background-color: #eeb15d;
  border-color: #eeb15d;
}

.btn-gray-800:hover {
  background-color: #161d27;
  border-color: #161d27;
}

.breadcrumb-item {
  font-size: 0.75rem;
}
.breadcrumb-item, .breadcrumb-item a {
  color: #374151;
  font-weight: 400;
  font-size: 0.75rem;
}
@media (min-width: 576px) {
  .breadcrumb-item, .breadcrumb-item a {
    font-size: 0.875rem;
  }
}
.breadcrumb-item.active {
  font-weight: 400;
}

.breadcrumb-transparent {
  background: transparent;
  padding: 0;
}

.card .card-header {
  background: transparent;
}
.card .profile-cover {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 200px;
}

.card-footer {
  background-color: transparent;
}

.card-stats {
  padding-left: 1.9rem;
}

.theme-settings {
  z-index: 99;
  position: fixed;
  right: 15px;
  bottom: 0;
}
.theme-settings, .theme-settings .card-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.theme-settings-close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0.65rem;
}

.btn-close.theme-settings-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.5rem;
  opacity: 0.5;
}

.theme-settings-expand {
  right: 15px;
  bottom: 0;
  height: 0;
  transition: 0.3s height;
}
@media (prefers-reduced-motion: reduce) {
  .theme-settings-expand {
    transition: none;
  }
}
.theme-settings-expand:hover {
  background: #4B5563;
  cursor: pointer;
}

.close {
  transition: all 0.2s ease;
}
.close > span:not(.sr-only) {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  line-height: 17px;
  border-radius: 50%;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}
.close:hover, .close:focus {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.9);
  outline: none;
}
.close:hover span:not(.sr-only), .close:focus span:not(.sr-only) {
  background-color: transparent;
}

.ct-bar {
  stroke-linecap: round;
  stroke-width: 10px;
}

.ct-label {
  fill: #374151;
  color: #374151;
  font-size: 0.75rem;
  margin-top: 6px;
  font-weight: 500;
}

.ct-series-g .ct-grid {
  stroke: #F8BD7A;
  stroke-width: 2px;
  stroke-dasharray: 2px;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.dropdown-menu .dropdown-item .dropdown-icon {
  height: 1.25rem;
  width: 1.25rem;
}
.dropdown-menu .dropdown-item {
  transition: all 0.2s ease;
  font-weight: 400;
}
.dropdown-menu.dropdown-menu-xs {
  min-width: 120px;
  max-width: 120px;
  box-shadow: 0 2px 5px rgba(140, 152, 164, 0.2);
}

.dropdown-toggle:after {
  display: none;
}

.icon {
  height: 2rem;
}
.icon.icon-xxs {
  height: 1rem;
}
.icon.icon-xs {
  height: 1.25rem;
}
.icon.icon-sm {
  height: 1.5rem;
}

.icon-shape {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-shape svg {
  height: 2rem;
}
.icon-shape.icon-xxs {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-shape.icon-xxs svg {
  height: 1rem;
}
.icon-shape.icon-xs {
  width: 2.5rem;
  height: 2.5rem;
}
.icon-shape.icon-xs svg {
  height: 1.25rem;
}
.icon-shape.icon-sm {
  width: 3.275rem;
  height: 3.275rem;
}
.icon-shape.icon-sm svg {
  height: 1.5rem;
}

.calendar {
  width: 3.125rem;
  line-height: 1;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
}

.dot {
  width: 12px;
  height: 12px;
}

.icon-shape-primary {
  color: #1F2937;
  background-color: rgba(31, 41, 55, 0.3);
}

.icon-shape-secondary {
  color: #f0bc74;
  background-color: rgba(240, 188, 116, 0.3);
}

.icon-shape-tertiary {
  color: #31316A;
  background-color: rgba(49, 49, 106, 0.3);
}

.icon-shape-danger {
  color: #E11D48;
  background-color: rgba(225, 29, 72, 0.3);
}

.icon-shape-purple {
  color: #7C3AED;
  background-color: rgba(124, 58, 237, 0.3);
}

.image-xs {
  height: 1.5rem;
}
.image-xs img {
  height: 1.5rem;
}

.image-small {
  height: 1rem;
}
.image-small img {
  height: 1rem;
}

.form-bg-image {
  background-repeat: no-repeat !important;
  background-position: top center !important;
}

.list-group-item {
  border: 0;
}
.list-group-item.active {
  color: #ffffff;
  background-color: #1F2937;
  border-color: #1F2937;
}

.nav-link {
  color: #1F2937;
}
.nav-link:hover, .nav-link.active {
  color: #1F2937;
}
.nav-link:hover img, .nav-link.active img {
  opacity: inherit;
  transition: all 0.2s ease;
}
.nav-link span {
  position: relative;
}

.progress-wrapper {
  position: relative;
}

.progress-bar {
  box-shadow: none;
  border-radius: 0;
  height: auto;
}

.progress {
  height: 6px;
  margin-bottom: 1rem;
  background-color: #E5E7EB;
  font-weight: 500;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-lg {
  height: 0.6rem;
}

.progress-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 0.5rem;
}

.progress-tooltip {
  background: #1F2937;
  color: #ffffff;
  font-weight: 500;
  padding: 0.25rem 0.375rem;
  line-height: 1;
  font-size: 0.75rem;
  position: relative;
  border-radius: 0.35rem;
}
.progress-tooltip:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 10px;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-top-color: #111827;
  border-width: 6px;
}

.progress-info .bg-secondary::after {
  border-top-color: #f0bc74;
}

.progress-info .bg-success::after {
  border-top-color: #10B981;
}

.progress-info .bg-warning::after {
  border-top-color: #f3c78e;
}

.progress-info .bg-danger::after {
  border-top-color: #E11D48;
}

.progress-info .bg-white::after {
  border-top-color: #ffffff;
}

.progress-info .bg-yellow-100::after {
  border-top-color: #ffeed6;
}

.progress-info .bg-gray-800::after {
  border-top-color: #1F2937;
}

.avatar-lg {
  width: 4.5rem;
  height: 4.5rem;
}

.table thead th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  border-top: 0;
}
.table th {
  font-weight: 500;
  padding: 1rem;
}
.table td .progress {
  height: 3px;
  width: 120px;
  margin: 0;
}
.table td,
.table th {
  font-size: 0.875rem;
  white-space: nowrap;
}
.table.align-items-center td,
.table.align-items-center th {
  vertical-align: middle;
}
.table .thead-light th {
  background-color: #F2F4F6;
  color: #1F2937;
}
.table .thead-light th a {
  color: #1F2937;
}

.table-hover tr {
  transition: all 0.2s ease;
}
@media (prefers-reduced-motion: reduce) {
  .table-hover tr {
    transition: none;
  }
}

.table-flush td,
.table-flush th {
  border-left: 0;
  border-right: 0;
}
.table-flush tbody tr:first-child td,
.table-flush tbody tr:first-child th {
  border-top: 0;
}
.table-flush tbody tr:last-child td,
.table-flush tbody tr:last-child th {
  border-bottom: 0;
}

.card .table {
  margin-bottom: 0;
}
.card .table td,
.card .table th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Inter", sans-serif;
}

p, ol li, ul li, .p {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: #1F2937;
  transition: all 0.2s ease;
}
a:hover {
  color: black;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .lead {
    font-size: 1rem;
  }
}

.text-primary, .text-primary:hover {
  color: #1F2937 !important;
}
.text-primary a:not(.btn), .text-primary h1, .text-primary h2, .text-primary h3, .text-primary h4, .text-primary h5, .text-primary h6, .text-primary .h1, .text-primary .h2, .text-primary .h3, .text-primary .h4, .text-primary .h5, .text-primary .h6 {
  color: #1F2937;
}

.text-success, .text-success:hover {
  color: #10B981 !important;
}
.text-success a:not(.btn), .text-success h1, .text-success h2, .text-success h3, .text-success h4, .text-success h5, .text-success h6, .text-success .h1, .text-success .h2, .text-success .h3, .text-success .h4, .text-success .h5, .text-success .h6 {
  color: #10B981;
}

.text-warning, .text-warning:hover {
  color: #f3c78e !important;
}
.text-warning a:not(.btn), .text-warning h1, .text-warning h2, .text-warning h3, .text-warning h4, .text-warning h5, .text-warning h6, .text-warning .h1, .text-warning .h2, .text-warning .h3, .text-warning .h4, .text-warning .h5, .text-warning .h6 {
  color: #f3c78e;
}

.text-danger, .text-danger:hover {
  color: #E11D48 !important;
}
.text-danger a:not(.btn), .text-danger h1, .text-danger h2, .text-danger h3, .text-danger h4, .text-danger h5, .text-danger h6, .text-danger .h1, .text-danger .h2, .text-danger .h3, .text-danger .h4, .text-danger .h5, .text-danger .h6 {
  color: #E11D48;
}

.text-white, .text-white:hover {
  color: #ffffff !important;
}
.text-white a:not(.btn), .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white .h1, .text-white .h2, .text-white .h3, .text-white .h4, .text-white .h5, .text-white .h6 {
  color: #ffffff;
}

.text-gray-300, .text-gray-300:hover {
  color: #D1D5DB !important;
}
.text-gray-300 a:not(.btn), .text-gray-300 h1, .text-gray-300 h2, .text-gray-300 h3, .text-gray-300 h4, .text-gray-300 h5, .text-gray-300 h6, .text-gray-300 .h1, .text-gray-300 .h2, .text-gray-300 .h3, .text-gray-300 .h4, .text-gray-300 .h5, .text-gray-300 .h6 {
  color: #D1D5DB;
}

.text-gray-400, .text-gray-400:hover {
  color: #9CA3AF !important;
}
.text-gray-400 a:not(.btn), .text-gray-400 h1, .text-gray-400 h2, .text-gray-400 h3, .text-gray-400 h4, .text-gray-400 h5, .text-gray-400 h6, .text-gray-400 .h1, .text-gray-400 .h2, .text-gray-400 .h3, .text-gray-400 .h4, .text-gray-400 .h5, .text-gray-400 .h6 {
  color: #9CA3AF;
}

.text-gray-500, .text-gray-500:hover {
  color: #6B7280 !important;
}
.text-gray-500 a:not(.btn), .text-gray-500 h1, .text-gray-500 h2, .text-gray-500 h3, .text-gray-500 h4, .text-gray-500 h5, .text-gray-500 h6, .text-gray-500 .h1, .text-gray-500 .h2, .text-gray-500 .h3, .text-gray-500 .h4, .text-gray-500 .h5, .text-gray-500 .h6 {
  color: #6B7280;
}

.text-gray-600, .text-gray-600:hover {
  color: #4B5563 !important;
}
.text-gray-600 a:not(.btn), .text-gray-600 h1, .text-gray-600 h2, .text-gray-600 h3, .text-gray-600 h4, .text-gray-600 h5, .text-gray-600 h6, .text-gray-600 .h1, .text-gray-600 .h2, .text-gray-600 .h3, .text-gray-600 .h4, .text-gray-600 .h5, .text-gray-600 .h6 {
  color: #4B5563;
}

.text-gray-800, .text-gray-800:hover {
  color: #1F2937 !important;
}
.text-gray-800 a:not(.btn), .text-gray-800 h1, .text-gray-800 h2, .text-gray-800 h3, .text-gray-800 h4, .text-gray-800 h5, .text-gray-800 h6, .text-gray-800 .h1, .text-gray-800 .h2, .text-gray-800 .h3, .text-gray-800 .h4, .text-gray-800 .h5, .text-gray-800 .h6 {
  color: #1F2937;
}

.text-gray-900, .text-gray-900:hover {
  color: #111827 !important;
}
.text-gray-900 a:not(.btn), .text-gray-900 h1, .text-gray-900 h2, .text-gray-900 h3, .text-gray-900 h4, .text-gray-900 h5, .text-gray-900 h6, .text-gray-900 .h1, .text-gray-900 .h2, .text-gray-900 .h3, .text-gray-900 .h4, .text-gray-900 .h5, .text-gray-900 .h6 {
  color: #111827;
}

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: 0.5em;
  background: #F2F4F6;
  border: 1px solid #F2F4F6;
  border-radius: 0.5rem;
  color: #1F2937;
  font-weight: 500;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  transition: all 0.2s ease;
}

.chartist-tooltip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top-color: #F2F4F6;
}

.chartist-tooltip.tooltip-show {
  opacity: 1;
}

.ct-area, .ct-line {
  pointer-events: none;
}

[data-simplebar] {
  position: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.search-bar .form-control {
  width: 280px;
  transition: width 0.2s ease-in-out;
}
@media (max-width: 575.98px) {
  .search-bar .form-control {
    width: 120px;
  }
  .search-bar .form-control:focus {
    width: 150px;
  }
}

.form-switch {
  padding-left: 2.75em;
}
.form-switch .form-check-input {
  height: 1.275em;
}

.input-group .form-control:focus {
  border-color: #D1D5DB;
}
.input-group .form-control:focus + .input-group-text {
  border-color: #D1D5DB;
}

.input-group-text {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

.file-field input[type=file] {
  max-width: 230px;
  position: absolute;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  padding-bottom: 30px;
}

.file-field svg {
  cursor: pointer;
}
